# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
- Learned to use Jupyter notebooks
- Programming in R and Python
- Introduction to Github

Some of the popular languages that Data Scientists use are:

ordered list of commonly used programming langauges in data sciene

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
    
    Ordered list:
        1. Pandas
        2. SciPy
        3. TensorFlow


|Open source Data Science Tools tool|
|-----------------|
|Hadoop           | 
|Apache Spark     |
|Knime            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Javari Fairclough